bcrypt==4.1.2
fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy>=2.0.35,<2.1.0
pydantic>=2.9.2,<3.0.0
pydantic-settings>=2.5.2,<3.0.0
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
python-multipart==0.0.9
pymysql==1.1.1
cryptography==43.0.1
